services:
  api: 
    image: ghcr.io/${GITHUB_USER_NAME}/${IMAGE_NAME}:${IMAGE_TAG}
    env_file:
      - .env
    networks:
      - the-template-network
    deploy:
      replicas: 2
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 3

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    networks:
      - the-template-network
    depends_on:
      - api
networks:
  the-template-network:
    external: true
